Q1.How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?

In [1]:
my_string='hello'

In [2]:
my_string

'hello'

Q2. Refer the below var1able:
x = 'a'
Here, 1s x a character type or str1ng type var1able? Support your answer w1th an explanat1on.

In Python, both single characters and strings are represented by the str data type. Therefore, the variable x could be either a character or a string.

However, to determine whether x is a single character or a string, we can check its length using the built-in len() function. If the length of x is 1, then x is a single character, otherwise it is a string

In [1]:
x = 'a'
len(x)

1

In [2]:
x = 'a'
type(x)

str

Q3.Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foundation course'   
a) find()
b)count()
c)len()
d)concatenation

In [4]:
str="Welcome to Python foundation course"
str.find('c')

3

In [5]:
str.count('u')

2

In [6]:
len(str)

35

In [7]:
str1="Let's start python"
str+str1

"Welcome to Python foundation courseLet's start python"

Q4. For the variable: wor = ‘PanaJi@12256'
Calculate the following:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numer1cal in str1ng

In [8]:
wor="PanaJi@12256"
wor.lower()

'panaji@12256'

In [9]:
wor.upper()

'PANAJI@12256'

In [10]:
wor="PanaJi@12256"
count = 0
for char in wor:
    if char.isdigit():
        count += 1

In [11]:
count

5

Q5.Write a code to store a numerical value inside a variable then convert it into string

In [14]:
num=123
type(num)

int

In [16]:
num = 12345   
str_num = str(num)  
type(str_num)

TypeError: 'str' object is not callable